.clearfix {
  box-sizing: border-box;
}

h1.aboutHeader.meet {
  font-family: 'Tangerine', cursive; 
  background-color: #5AA798;
  border: 2px solid #FEDA52;
  border-radius:5px; 
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

h2.cat {
  font-family: 'Cinzel', serif;
}

h2.compHist {
  text-align: center;
  padding: 0 0;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.container.clearfix.about {
  margin-bottom: 550px;
}

.container.about h1 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  margin: 3% 10%;
  /*margin: 30px 450px;*/
  text-align: center;
}



ul.bios {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul.bios>li {
  padding-top: 40px;
  margin-bottom: 41px;
  float: left;
  width: 36.7%;
  height: 18.75%;
/*  width: 470px;
  height: 150px;*/
}

ul.bios>li>a {
  float: left;
}

.aboutHeader {
  text-align: right;
  font-size: 50px;
  padding-right: 30px;
  margin: 40px 40px;
}

section h2.compHist {
  font-size: 40px;
  margin: 20px 40px;
  font-family: 'Tangerine', cursive; 
}

section p.compHistContent {
  margin: 40px 40px;
  font-family: 'Philosopher', sans-serif;
}

ul.bios li h2 {
  font-size: 34px;
  line-height: 31px;
  margin-bottom: 8px;
  margin-top: -5px;
  width: 18%;
  /*width: 230px;*/
}

ul.bios li span.position {
  font-size: 34px;
  line-height: 16px;
  display: block;
  margin-bottom: 13px;
  margin-top: 15px;
  font-family: 'Tangerine', cursive;
}

ul.bios li span.text {
  font-size: 16px;
  line-height: 19px;
  display: block;
  margin-bottom: 14px;
  font-family: 'Philosopher', sans-serif;
}

ul.bios li .info {
  float: right;
  width: 60%;
}

li.cat2, li.cat4 {
  margin-left: 9%;
}

li.cat1, li.cat3 {
  margin-left: 5%;
}

/*li.cat1, li.cat2, li.cat3, li.cat4 {
  padding: 0 3%;
}*/

img.worker {
  margin-left: 30px;
  width: 50%;
  border-radius: 100% ;
  border: 2px solid #FEDA52;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.catBox {
  padding: 10px;
}

ul.bios li {
  background-color: #5AA798;
  padding-bottom: 90px;
  padding-right: 35px;
  border: 2px solid #FEDA52;
  border-radius:5px;  
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  /*width: 25%;*/
}

section.compHist {
  clear:both;
  border: 2px solid #FEDA52;
  border-radius:5px;
  background-color: #5AA798;
  margin: 10% 10%;
  /*margin: 50px 70px;*/
  width: 80%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  /*padding: 0% 0% 0% 6%;  */
}

section p.compHistContent {
  margin: 10px 10px;
  padding: 0 30px 20px 30px;
  text-align: center;
}