/*
dark teal: 5AA798
light teal: 9BF3E3
lightest teal: BCFFF2
darker tan: A75A3D
light tan: F3DFD7
*/
/*
FONT FAMILIES
font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Cinzel', serif;

*/
