.product {		width:30%;
				display:inline-block;
				border: 2px solid #FEDA52;
				border-radius:5px;
				box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
				height:400px;
				margin:1%;
				margin-top:0;
				background:#5AA798;
				font-family:"Philosopher";}

.product img {	width:75%;
				margin-left:10%;
				margin-right:10%;
				margin-bottom:10%;
				border: 2px solid #FEDA52;
				border-radius:5px;}


.productImage {	height:25%;}

.description {	height:10%;
				margin-left:10%;
				margin-right:10%;
				padding-top:35%;
				font-style:italic;
			}
.price{			height:10%;
				margin-left:10%;
				margin-right:10%;}

.productName{	height:10%;
				font-size:24px;
				text-align:center;
				margin-top:5%;
				font-weight:bold;}

#products {		margin-left:2%;
				margin-right:2%;	
				margin-top:20px;}

.product hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color:#FEDA52;
    background:#FEDA52; 
}
.product input[type="button"]{border: 2px solid #FEDA52;
								float:right;}
